:global(:root){
  font-size: 62.5%;
  font-family: helvetica;
}
:global(*){
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:global(button) {
  border: 0.1rem black solid;
  border-radius: 0;
  padding: 0.8rem;
}
:global(hr) {
  margin: 1rem 0;
}
